# Exercici

Escriu una funció que rebi un diccionari amb les notes dels alumnes d’un curs i retorni una sèrie amb la nota mínima, la màxima, la mitjana i la desviació típica.

In [1]:
import pandas as pd
import numpy as np


# Ejemplo de uso
notas = pd.read_csv('./notas_alumnos.csv', header=0, names=['ID_alumno', 'matematicas', 'lengua', 'ciencias'], sep=',')
notas.set_index('ID_alumno', inplace=True)
notas

           matematicas  lengua  ciencias
ID_alumno
1                  7.4     8.0       6.8
2                  8.0     7.5       7.0
3                  6.8     8.2       7.1
4                  9.2     7.9       8.5
5                  7.1     8.6       7.4
...                ...     ...       ...
96                 8.9     7.4       8.0
97                 5.7     6.9       7.4
98                 7.6     8.2       7.1
99                 8.4     7.5       8.0
100                6.5     8.0       7.1

[100 rows x 3 columns]

In [9]:
def calcular_estadisticas(notas=notas):

    estadisticas = pd.DataFrame(columns=['Media Mates', 'Desviacion_Estandar Mates', 'Maximo Mates', 'Minimo Mates',
                                       'Media Lengua', 'Desviacion_Estandar Lengua', 'Maximo Lengua', 'Minimo Lengua',
                                       'Media Ciencias', 'Desviacion_Estandar Ciencias', 'Maximo Ciencias', 'Minimo Ciencias'],
                               index=['Valor'])

    estadisticas.at['Valor', 'Media Mates'] = notas['matematicas'].mean()
    estadisticas.at['Valor', 'Desviacion_Estandar Mates'] = notas['matematicas'].std()
    estadisticas.at['Valor', 'Maximo Mates'] = notas['matematicas'].max()
    estadisticas.at['Valor', 'Minimo Mates'] = notas['matematicas'].min()

    estadisticas.at['Valor', 'Media Lengua'] = notas['lengua'].mean()
    estadisticas.at['Valor', 'Desviacion_Estandar Lengua'] = notas['lengua'].std()
    estadisticas.at['Valor', 'Maximo Lengua'] = notas['lengua'].max()
    estadisticas.at['Valor', 'Minimo Lengua'] = notas['lengua'].min()

    estadisticas.at['Valor', 'Media Ciencias'] = notas['ciencias'].mean()
    estadisticas.at['Valor', 'Desviacion_Estandar Ciencias'] = notas['ciencias'].std()
    estadisticas.at['Valor', 'Maximo Ciencias'] = notas['ciencias'].max()
    estadisticas.at['Valor', 'Minimo Ciencias'] = notas['ciencias'].min()

    return estadisticas
calcular_estadisticas()

,Media Mates,Desviacion_Estandar Mates,Maximo Mates,Minimo Mates,Media Lengua,Desviacion_Estandar Lengua,Maximo Lengua,Minimo Lengua,Media Ciencias,Desviacion_Estandar Ciencias,Maximo Ciencias,Minimo Ciencias
Valor,7.585,1.070578,9.3,5.5,7.853,0.467414,8.6,6.8,7.325,0.542976,8.5,6.5

In [10]:
notas_alumno24 = notas.loc[24]
notas_alumno24

matematicas    6.9
lengua         8.3
ciencias       6.5
Name: 24, dtype: float64